<div id="<%= dom_id time_preference %>">
  <p>
    <strong>Professor:</strong>
    <%= time_preference.professor_id %>
  </p>

  <p>
    <strong>Time block:</strong>
    <%= time_preference.time_block_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= time_preference.priority %>
  </p>

</div>
