<div id="<%= dom_id classroom %>">
  <p>
    <strong>Room:</strong>
    <%= classroom.room %>
  </p>

  <p>
    <strong>Is lab:</strong>
    <%= classroom.is_lab %>
  </p>

  <p>
    <strong>Room capacity:</strong>
    <%= classroom.room_capacity %>
  </p>

</div>
