<div id="<%= dom_id course_preference %>">
  <p>
    <strong>Professor:</strong>
    <%= course_preference.professor_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course_preference.course_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= course_preference.priority %>
  </p>

</div>
