<h1>Editing course preference</h1>

<%= render "form", course_preference: @course_preference %>

<br>

<div>
  <%= link_to "Show this course preference", @course_preference %> |
  <%= link_to "Back to course preferences", course_preferences_path %>
</div>
