<h1>Editing time block</h1>

<%= render "form", time_block: @time_block %>

<br>

<div>
  <%= link_to "Show this time block", @time_block %> |
  <%= link_to "Back to time blocks", time_blocks_path %>
</div>
